h1 {
    text-decoration: underline;
    color:white;
}

p{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:white; 
}

h3{
    text-decoration: underline;
    color:white;
    font-style:bold;
}
ion-content{
   --background:black;
}